.about-container {
    text-align: center;
    margin: 20px;
  }
  
  .social-links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
  }
  
  a[mat-icon-button] {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
    padding: 5px 5px;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  
  a[mat-icon-button]:hover {
    background-color: #e0e0e0;
  }
  